.hideChilds {
    &  * {
        display: none;
    }
}

input {
    width: 100%;
    &[type=submit] {
        width: auto;
    }
}

.unsupported {
    background-color: red;
}

ul {
    padding-inline-start: 30px;
}